body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
}

.custom-file-input.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}

.custom-file-input {
    cursor: pointer;
}
